$color-primary: #FCB53B;
$color-secondary: #960051;
$color-third: #D15420;
$color-fourth: #F1F1F1;
$color-fifth: #000000;

$gray: #878787;
$black: #000;
$white: #fff;

$font-base: 16px;

$breakpoints: (
        xs: 512px,
        sm: 768px,
        md: 896px,
        lg: 1152px,
        xl: 1280px
);