.about-entry {
  background-color: $color-secondary;

  @include break(md) {
    background-color: transparent;
    background-image: url("../../images/about-entry__bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: rem-calc(335);
  }

  &__title {
    h1 {
      font-size: rem-calc(45);
    }
    color: white;
    padding: rem-calc(50) 0;
  }

  &__img {
    background-image: url("../../images/about-entry__img.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: rem-calc(400);
    height: rem-calc(350);
  }
}