.reference-entry {
  background-color: $color-primary;

  @include break(md) {
    background-color: transparent;
    background-image: url("../../images/orange_stripes.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: rem-calc(335);
  }

  &__title {
    color: white;
    padding: rem-calc(50) 0;
  }

  &__img {
    background-image: url("../../images/reference_img.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: rem-calc(400);
    height: rem-calc(350);
  }
}
