@font-face {
  font-family: 'Maven Pro';
  src: url('../../fonts/MavenProBlack.eot');
  src: url('../../fonts/MavenProBlack.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MavenProBlack.woff2') format('woff2'),
  url('../../fonts/MavenProBlack.woff') format('woff'),
  url('../../fonts/MavenProBlack.ttf') format('truetype'),
  url('../../fonts/MavenProBlack.svg#MavenProBlack') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Maven Pro';
  src: url('../../fonts/MavenProMedium.eot');
  src: url('../../fonts/MavenProMedium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MavenProMedium.woff2') format('woff2'),
  url('../../fonts/MavenProMedium.woff') format('woff'),
  url('../../fonts/MavenProMedium.ttf') format('truetype'),
  url('../../fonts/MavenProMedium.svg#MavenProMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Maven Pro';
  src: url('../../fonts/MavenProRegular.eot');
  src: url('../../fonts/MavenProRegular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MavenProRegular.woff2') format('woff2'),
  url('../../fonts/MavenProRegular.woff') format('woff'),
  url('../../fonts/MavenProRegular.ttf') format('truetype'),
  url('../../fonts/MavenProRegular.svg#MavenProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maven Pro';
  src: url('../../fonts/MavenProBold.eot');
  src: url('../../fonts/MavenProBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MavenProBold.woff2') format('woff2'),
  url('../../fonts/MavenProBold.woff') format('woff'),
  url('../../fonts/MavenProBold.ttf') format('truetype'),
  url('../../fonts/MavenProBold.svg#MavenProBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

