th {
  vertical-align: middle;
  text-align: center;
  background-color: $color-secondary;
  text-transform: uppercase;
  padding: rem-calc(10);
  margin-right: rem-calc(5);

  &.primary {
    background-color: $color-primary;
    color: $white;
  }
  &.secondary {
    background-color: $color-secondary;
    color: $white;
  }
}
tr {
  &:nth-child(odd) {
    background-color: #F9F3F5;
  }
  &.primary {

  }
  &.secondary {

  }
}
td {
  vertical-align: middle;
  color: $color-secondary;
  padding: rem-calc(10);
  text-align: center;
}